<h1>Eat your burger!!!</h1>
<h2>Good for your taste buds and your soul!</h2>

<center><img src = "/assets/img/three-burgers.jpg" alt = "three-burgers"></center>

<div class = "container">
    <form>
        <div class="form-group">
            <label for="burgerInput">Please type in the name of your burger!</label>
            <input type="text" class="form-control" id="burgerInput">
            <small id="burgerHelp" class="form-text text-muted">We'll post your new burger below.</small>
        </div>
        <button type="submit" class="btn btn-primary" id = "create-burger">Submit this burger!</button>
    </form>
</div>

<div class = "container">
    <div class = "row">
        <div class = "col-sm">
            <h2>Burgers to Devour</h2>
            <ul class = "burgerUndevoured">
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            {{burger_name}}
                            <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
                                {{#if devoured}}Re-eat this burger!!!{{else}}Eat this burger!!!{{/if}}
                            </button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class = "col-sm">
            <h2>Burgers Devoured</h2>
            <ul class = "burgerDevoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            {{burger_name}}
                            <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
                                {{#if devoured}}Re-eat this burger!!!{{else}}Eat this burger!!!{{/if}}
                            </button>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>